<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XiangshangClub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0955AB2B1C3A10DC001385E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0955AB441C3A10DC001385E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0955AB4F1C3A10DC001385E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
